* {
  font-family: "Roboto Slab", serif;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(21, 111, 144);
  --bg-color-dark-cream: rgb(95, 80, 80);
  --bg-color-dark-cream: hsl(45, 100%, 96%);
  --transition: all 0.2s linear;
  --transform: scale(1.2);
  --opacity: 0.7;
  --border: 2px solid black;
}

/* Navbar */

.nav-item {
  font-size: 25px;
  margin: 10px;
}

.container a {
  font-size: 25px;
}

/*/ //////////////////////////////////////////// Hero /////////////////////////////////////////////*/

.custom-hero-section {
  height: 88vh;
}

.custom-hero-info {
  margin-top: 90px;
  text-align: center;
}

.custom-hero-info img {
  border-radius: 100px;
}

.hero-icons {
  font-size: 42px;
}

.fa-twitter {
  color: lightblue;
  margin: 10px;
}

.fa-github {
  color: white;
}

.fa-twitter:hover {
  transition: var(--transition);
  transform: var(--transform);
}

.fa-github:hover {
  transition: var(--transition);
  transform: var(--transform);
}

@media screen and (max-width: 768px) {
  .custom-hero-section {
    height: 91.8vh;
  }

  .nav-item {
    font-size: 22px;
  }
}

/*/ ///////////////////////////////////////////// Projects ////////////////////////////////////////*/

/* Card 1 */

.card1-img {
height: 222px;
object-fit: cover;
}

#startCardTitle {
  height: 58px;
}

.card-text1 {
  margin-top: -33px;
}

/* Card 2 */

.projectCard2 {

  
}

.card2-img {
  height: 250px;

  
}

#middleCardTitle {
  margin-top: -22px;
}

.card-text2 {
}


/* Card 3 */

.card3-img {
  height: 195px;
}

#endCardTitle {
  margin-top: -10px;
  height: 40px;
}

.card-text3 {

}

/*///////////////////////////////////// CONTACT SECTION /////////////////////////////////////*/

#contactSection {
  margin-left: 33.3%;
}

@media screen and (max-width: 768px) {
  #contactSection {
    margin-left: 0px;
  }
}

/*///////////////////////////////////// Footer /////////////////////////////////////*/

#tw,
#gh {
  font-size: 42px;
}